.tiles-group {
		width: 300px;
		margin-right: 50px;
		float: left;
		background-color: #fdfdfd;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
		&__header {
			margin-bottom: 30px;
		}
		&--last {
			margin-right: 0 !important;
		}
}
.one-tile {
	font-size: 14px;
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	margin: 0 0 15px;
	background-color: #fcfcfc;
	border-radius: 5px;
	&__row {
		margin-bottom: 10px;
		text-align: left;
		&:last-child {
			margin-bottom: 0;
		}
		&--img {
			margin-bottom: 20px;
		}
		&--group {
			text-align: right;
		}
	}
}